
.body{
  font-family: $ff;
  margin: 34px 127px 0 142px;
  color: $ct;

}
.banner{
  font-family: $ff;
  display: flex;
  flex-direction: column;
}
.banner-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.banner-icon {
  width: 80px;
  height: 80px;
  background-color: #C4C4C4;
}
.banner-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;
  color: $ct;
}
.banner-btn {
  background-color: #423F3E;
  color: $ct-2;
  border-radius: 5px;
  width: 161px;
  font-size: 18px;

}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-h2 {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}
.content-main {
  text-align: center;
  font-size: 24px;
}